.App {
  background-color: #000000;
}

body {
  background-color: #000000;
}

* {
  transition: all .2s linear;
}

.hero {
  width: 100%;
}

.content-container {
  margin-top: 2%;
  margin-left: 20%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

nav ul {
  display: flex;
  border-bottom: 2px;
  border-color: grey;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav ul li a:hover {
  border-radius: 2px;
  
  background-color: white;
  color: black;
}

.table-header {
  color: white;
  display: flex;
  padding-bottom: 8px;
  border-bottom: 2px solid;
  border-color: gray;
  max-width: 1100px;
}

.piece-details {
  color: white;
  display: flex;
}

.desc {
  color: white,
}

.left-col {
  width: 120px;
}

.right-col {
  width: 500px;
}

.wrapper {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  color: white;
}

.wrapper .box {
  color: white;
  cursor: pointer;
}

.wrapper .box:hover {
  color: white;
  position: relative;
  z-index: 2;
  text-shadow: 0 10px 5px rgba(0, 0, 0, 0.9);
}

.effect {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(.2);
}

.wrapper .box:hover ~ .effect {
  transform: translate(-50%, 9%) scale(1);
  opacity: 1;
}